body {
	width: 960px;
	margin-left: 25%;
	background-image: url(../images/back.png);

}

header{
	background-color: #ffffff;
	font-family: Georgia, Times, Times 'New Roman', serif;
	width: 100%;
	height: 32px;
	padding: 20px;

	border-color: #cccccc;
	border-width: 3px;
	border-bottom-style: solid;
}

content {
	width: 650px; 
	background-color: #ffffff;
}

#yo {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
	text-align: center;
	background-color: #4aaaa5;    
	padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 24px;

    float: left;
	margin-left: 8%;
}

#about {
	text-decoration:none; 
	color: #777777;
	margin: 25px 5px 5px 5px;
	margin-left: 470px;

	float: left;
}

#port {
	text-decoration:none; 
	color: #777777;
	margin: 25px 5px 5px 0;

	float: left;
}

#contact {
	text-decoration:none; 
	color: #777777;
	margin: 25px 5px 5px 0;

	float: left;
}

#pic {
	width: 530px;
	padding: 40px;
	margin: 50px 0px 50px 100px;
	background-color: white;
	float: left;
}

#name {
	font-weight: bold;
	font-size: 30px;
	color: #4aaaa5;
	border-color: #dddddd;
	border-width: 3px;
	border-bottom-style: solid;
	padding-bottom: 10px;
}

#line {
	border-color: #dddddd;
	border-width: 1px;
	border-bottom-style: solid;
	margin-top: 2%;
}

#picture {
	width: 200px;
	height: 180px;
	float: left;
	margin-top: 10px;
	margin-right: 15px;
}

.text {
	line-height: 23px;
	margin-top: 20px;
	color: #777777;
}

.info {
	background-color: white;
	float: left;
	width: 170px;
	padding: 20px;
	margin: 50px 0 40% 40px;
}

.info2 {
	color: #4aaaa5;
	font-size: 20px;
	text-align: center;
	padding-bottom: 15px;
	font-weight: bold;

	border-color: #cccccc;
	border-width: 1.5px;
	border-bottom-style: solid;
}

.icon1 {
	margin-left: 25px;
	height: 40px;
	width: 40px;
}

.icon2 {
	height: 40px;
	width: 40px;
}

.icon3 {
	height: 40px;
	width: 40px;
}

.foot {
	color: white;
	font-size: 12px;
	text-align: center;
	width: 100%;
	height: 32px;
	padding: 20px;
	background-color: #666666;

	border-color: #4aaaa5;
	border-width: 8px;
	border-top-style: solid;

	clear: both;
}












